body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);

}

:root {
  --border: rgba(0,0,0,.2);
  --shadow: #000;
  --heading: rgba(255,100,0,1);
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0,0,0,.3);
  --background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SwitchColor { 
  border-color: var(--border); 
}

.icon { 
  color: var(--inactive); 
}

/* Transitons for smooth theme change */
*:not(body) {
  transition: all .5s ease;
}

.SwitchColor {
  width: 4rem;
  height: 2rem;
  margin: 2rem 0;
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 4px 10px -3px black;
  background: none;
  padding: 0; 
}

.SwitchColor .icon {
  font-size: 1.3rem;
}

button {
  outline: none;
  cursor: pointer;
}

.active {
  color: var(--heading);
}


.table{
  border: 1px solid black;
  background-color:silver;
  width: 100%;
}

th {
  text-align: left;
}

.edit{
  color:white;
}